
.label{
display: flex;
align-items: center;
margin: 5px;
background-color: lightgray;
border-radius: 20px;
padding: 5px 10px;

}
.label-btn{
  background: transparent;
  margin-left: 8px;
  cursor: pointer;
  color: red;
}
.search{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  max-height: max-content;
  overflow: scroll;
}
.search-api{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  max-height: max-content;
  overflow: inherit;
  padding: 5px;
  margin: 5px;
}
.otp-input{
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: x-large;
  font: bold;
  margin: 2px;
}